---
import Layout from '@/layouts/base.astro';
import CommonTyping from '@/components/common/typing.astro';
import CommonContainer from '@/components/common/container.astro';
import CommonContentListItem from '@/components/common/content-list-item.vue';
import { getCollection } from "astro:content"
import type { CollectionEntry } from 'astro:content';
import Link from '@/components/ui/link.astro';
import { links } from '@/info';

const latestNews = (await getCollection("nyheter"))
  .filter((post: any) => post.data.published)
  .sort((a: any, b: any) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
  .slice(0, 4) as CollectionEntry<"nyheter">[];

// const latestVideos = (await getCollection("videos"))
//   .filter((post: any) => post.data.published)
//   .sort((a: any, b: any) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
//   .slice(0, 3) as CollectionEntry<"videos">[];

const pictureArticles = [
  {
    src: '/images/banner.webp',
    title: 'Bla bla bla Bla bla bla Bla bla bla',
  },
  {
    src: '/images/banner.webp',
    title: 'Bla bla bla Bla bla bla Bla bla bla',
  },
  {
    src: '/images/banner.webp',
    title: 'Bla bla bla Bla bla bla Bla bla bla',
  }
];

const discord = links.find(link => link.label.toLowerCase() === 'discord') || { url: '#' };
---

<Layout title="Asgard: Home page" description="Portfolio website for various projects & employment history" size="full">
  <div>
    <CommonContainer size="xl" class="grid grid-rows-[47%_47%_6%] grid-cols-1 lg:grid-rows-[94%_6%] lg:grid-cols-2 h-screen">
      <div class="row-start-1 row-end-1 col-start-1 col-end-1 lg:col-start-1 lg:col-end-1 flex flex-col justify-center">
        <div class="h-64 px-8 text-white">
          <CommonTyping class="w-full h-fit my-8 text-6xl lg:text-8xl font-light" passive={false} duration={80} tag="h1" string="Välkommen" />
          <CommonTyping class="w-full h-fit flex flex-wrap text-lg" delay={40} duration={20} tag="p" string="Bla balbalblalb alblblbllbblalbalalblblalblbblablbablaba" />
        </div>
      </div>
      <div class="row-start-2 row-end-2 lg:row-start-1 lg:row-end-1 col-start-1 col-end-1 lg:col-start-2 lg:col-end-2 flex flex-col justify-start lg:justify-center">
        <div class="ml-8 mt-8">
          <div class="flex justify-between items-center stagger-animation text-white" style={{'--i': 0}}>
            <h2 class="text-3xl">Senaste nyheter</h2>
            <a class="underline" href="/projects">Visa alla</a>
          </div>
          <ul>
            {latestNews.map((project, index) => 
              <li class="rounded-lg my-2 bg-neutral-200/70 dark:bg-neutral-950/70 stagger-animation p-1 pb-0" style={{'--i': index}}>
                <CommonContentListItem result={project} loading="lazy" />
              </li>
            )}
              <li class="flex justify-center my-2 stagger-animation text-white" style={{'--i': latestNews.length + 1}}>
                <Link href={discord.url} class="rounded-full font-semibold py-2 px-4 bg-purple-700 dark:bg-purple-800 hover:bg-purple-800 hover:dark:bg-purple-700">Gå med här</Link>
                <Link href="/about-us" class="rounded-full font-semibold py-2 px-4 bg-purple-700 dark:bg-purple-800 hover:bg-purple-800 hover:dark:bg-purple-700">Om oss</Link>
              </li>
          </ul>
        </div>
      </div>
      <p class="row-start-3 row-end-3 col-start-1 col-end-1 lg:row-start-2 lg:row-end-2 lg:col-span-2 text-center text-neutral-400">
        Since we are a Swedish organization all the content of this website is also in Swedish. If you are an English speaker and wish to reach out to us with questions you can join our <a class="underline" href={discord.url}>Discord here</a>
      </p>
    </CommonContainer>
  </div>
  <CommonContainer size="2xl" class="mb-16 gap-y-[96px]">

    <!-- Picture articles -->

    <div>
      <ul class="w-full mt-8 mb-32">
      {pictureArticles.map(({title, src}, index) => 
        <li class="flex flex-wrap lg:flex-nowrap my-24 gap-8 text-center intersection-node" class:list={[index % 2 === 0 ? 'flex-row lg:text-end' : 'flex-row-reverse lg:text-start']}>
          <div class="w-full my-8 col-[2] flex justify-center items-center">
            <p class="max-w-sm lg:max-w-full">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, incidunt ipsam. Quod natus, at commodi consequuntur a, maiores laboriosam cumque vel nisi amet aut minus non eum! Quasi, illo blanditiis. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti molestiae quam nostrum ea corporis ullam, dolor minima necessitatibus distinctio non? Sit minima non dolorum, nisi expedita illo aliquam sapiente temporibus.</p>
          </div>
          <div class="w-full flex justify-center items-center shadow-lg">
            <img class="rounded-lg max-w-96 lg:max-w-full" src={src} />
          </div>
        </li>
      )}
      </ul>
    </div>
  </CommonContainer>
  <CommonContainer size="md">

    <!-- Latest projects -->
    <div>
      <div class="flex justify-between items-center">
        <h2 class="text-3xl">Senaste videos</h2>
        <a class="underline" href="/projects">Visa alla</a>
      </div>
      <!-- <ul class="mt-8">
        {latestVideos.map((project, index, arr) => 
          <li class:list={{'mb-0': index === arr.length - 1, 'border-b border-neutral-200 dark:border-neutral-800': index !== arr.length - 1}} class="my-8 pb-8">
            <CommonContentListItem result={project} loading="lazy" />
          </li>
        )}
      </ul> -->
    </div>

    <!-- Discord Community Server -->
    <div>
      
    </div>
  </CommonContainer>
</Layout>

<style is:global>
  body > main {
    animation: unset !important;
    padding: 0px 0px 0px 0px !important;
  }

  body > main > div:first-child {
    background-image: url('/images/banner.webp');
    background-position: center;
  }
</style>
