---
import Layout from '@/layouts/base.astro';
import CommonTyping from '@/components/common/typing.astro';
import CommonContainer from '@/components/common/container.astro';
import CommonContentListItem from '@/components/common/content-list-item.vue';
import { getCollection } from "astro:content"
import type { CollectionEntry } from 'astro:content';
import Link from '@/components/ui/link.astro';
import { links } from '@/info';

const latestNews = (await getCollection("nyheter"))
  .filter((post: any) => post.data.published)
  .sort((a: any, b: any) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
  .slice(0, 4) as CollectionEntry<"nyheter">[];

// const latestVideos = (await getCollection("videos"))
//   .filter((post: any) => post.data.published)
//   .sort((a: any, b: any) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
//   .slice(0, 3) as CollectionEntry<"videos">[];

const pictureArticles = [
  {
    src: '/images/banner.webp',
    title: 'Bla bla bla Bla bla bla Bla bla bla',
  },
  {
    src: '/images/banner.webp',
    title: 'Bla bla bla Bla bla bla Bla bla bla',
  },
  {
    src: '/images/banner.webp',
    title: 'Bla bla bla Bla bla bla Bla bla bla',
  }
];

const discord = links.find(link => link.label.toLowerCase() === 'discord') || { url: '#' };
---

<Layout title="Asgard: Home page" description="Asgard is a Swedish Star Citizen Organisation" size="full">
  <div>
    <CommonContainer size="xl" class="grid grid-rows-[40%_auto%_10%] grid-cols-1 lg:grid-rows-[auto_96px] lg:grid-cols-2 h-screen">
      <div class="row-start-1 row-end-1 col-start-1 col-end-1 lg:col-start-1 lg:col-end-1 flex flex-col justify-center mt-12 lg:mt-0">
        <div class="h-64 px-8 text-white">
          <CommonTyping class="w-full h-fit my-8 text-6xl lg:text-8xl font-light" passive={false} duration={80} tag="h1" string="Välkommen" />
          <CommonTyping class="w-full h-fit flex flex-wrap text-lg" delay={40} duration={20} tag="p" string="Asgard är ett aktivt, svenskt Star Citizen gaming-community. Vi utforskar, erövrar och tar del av spelets alla möjligheter, samtidigt som vi satsar stort på att utveckla en stark industriell och ekonomisk närvaro. Vårt mål är att skapa en välkomnande gemenskap där varje medlem känner sig hemma, så att vi kan bygga ett dynamiskt och stödjande community där alla kan bidra och växa tillsammans. \n\n For English speakers: Reach out to us on our Discord server." />
        </div>
      </div>
      <div class="row-start-2 row-end-2 lg:row-start-1 lg:row-end-1 col-start-1 col-end-1 lg:col-start-2 lg:col-end-2 flex flex-col justify-start lg:justify-center">
        <div class="lg:ml-8 lg:mt-8">
          <div class="flex justify-between items-center stagger-animation text-white p-3" style={{'--i': 0}}>
            <h2 class="text-3xl">Senaste nyheter</h2>
            <a class="underline" href="/projects">Visa alla</a>
          </div>
          <ul class="bg-neutral-100/80 dark:bg-neutral-900/80 dark:bg-none rounded-lg stagger-animation px-3 pt-1 pb-1" style={{'--i': 1}}>
            {latestNews.map((project, index) => 
            // <li class="rounded-lg my-3 bg-neutral-900/30 dark:bg-neutral-900 border-2 border-neutral-300 dark:border-neutral-900 stagger-animation p-1 shadow-xl" style={{'--i': index}}>
            <li class="my-3 stagger-animation bg-neutral-200 dark:bg-neutral-800 p-2 rounded-lg shadow-lg dark:shadow-none" style={{'--i': index + 1}}>
                <CommonContentListItem tag={false} result={project} loading="lazy" />
              </li>
            )}
              <li class="flex justify-center my-2 stagger-animation text-white" style={{'--i': latestNews.length + 2}}>
                <Link href={discord.url} class="rounded-full font-semibold py-2 px-4 bg-purple-700 dark:bg-purple-800 hover:bg-purple-800 hover:dark:bg-purple-700">Gå med här</Link>
                <Link href="/about-us" class="rounded-full font-semibold py-2 px-4 bg-purple-700 dark:bg-purple-800 hover:bg-purple-800 hover:dark:bg-purple-700">Om oss</Link>
              </li>
          </ul>
        </div>
      </div>
      <div class="row-start-3 row-end-3 col-start-1 col-end-1 lg:row-start-2 lg:row-end-2 lg:col-span-2">
        <div class="flex justify-center stagger-animation" style={{'--i': latestNews.length + 3}}>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-12 animate-bounce fill-purple-700">
            <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
          </svg>        
        </div>
      </div>
    </CommonContainer>
  </div>
  <CommonContainer size="2xl" class="mb-16 gap-y-[96px]">

    <!-- Picture articles -->

    <div>
      <ul class="w-full mt-8 mb-32">
      {pictureArticles.map(({title, src}, index) => 
        <li class="flex flex-wrap lg:flex-nowrap my-24 gap-8 text-center intersection-node" class:list={[index % 2 === 0 ? 'flex-row lg:text-end' : 'flex-row-reverse lg:text-start']}>
          <div class="w-full my-8 col-[2] flex justify-center items-center">
            <p class="max-w-sm lg:max-w-full">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, incidunt ipsam. Quod natus, at commodi consequuntur a, maiores laboriosam cumque vel nisi amet aut minus non eum! Quasi, illo blanditiis. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti molestiae quam nostrum ea corporis ullam, dolor minima necessitatibus distinctio non? Sit minima non dolorum, nisi expedita illo aliquam sapiente temporibus.</p>
          </div>
          <div class="w-full flex justify-center items-center shadow-lg">
            <img class="rounded-lg max-w-96 lg:max-w-full" src={src} />
          </div>
        </li>
      )}
      </ul>
    </div>
  </CommonContainer>
  <CommonContainer size="md">

    <!-- Latest projects -->
    <div>
      <div class="flex justify-between items-center">
        <h2 class="text-3xl">Senaste videos</h2>
        <a class="underline" href="/projects">Visa alla</a>
      </div>
      <!-- <ul class="mt-8">
        {latestVideos.map((project, index, arr) => 
          <li class:list={{'mb-0': index === arr.length - 1, 'border-b border-neutral-200 dark:border-neutral-800': index !== arr.length - 1}} class="my-8 pb-8">
            <CommonContentListItem result={project} loading="lazy" />
          </li>
        )}
      </ul> -->
    </div>

    <!-- Discord Community Server -->
    <div>
      
    </div>
  </CommonContainer>
</Layout>

<style is:global>
  body > main {
    animation: unset !important;
    padding: 0px 0px 0px 0px !important;
  }

  body > main > div:first-child {
    /* background-image: url('/images/banner-dark.webp'); */
    background-image: url('/images/banner-light.webp');
    /* background-image: url('/images/banner-both.webp'); */
    background-position: center;
    background-size: cover;
  }

  /* html.dark body > main > div:first-child {
    background-image: url('/images/banner-light.webp');
  } */
  
  html.light body > main > div:first-child {
    /* background-image: url('/images/banner-dark.webp'); */

  }
</style>
