---
import type { CollectionEntry } from 'astro:content'
import CommonContentListItem from '@/components/common/content-list-item.vue';
import { links } from '@/info';
import { twMerge } from 'tailwind-merge';

interface Props {
  news: CollectionEntry<"nyheter">[],
  class?: string,
  color?: string,
  stagger?: boolean,
}

const { news, color = "text-inherit", stagger = true } = Astro.props;
const classnames = Astro.props.class;
const discord = links.find(link => link.label.toLowerCase() === 'discord') || { url: '#' };
---
<div class={classnames}>
  <div class="flex justify-between items-center p-3" class:list={[color, {"stagger-animation": stagger}]} style={{'--i': 0}}>
    <h2 class="text-3xl">Senaste nyheter</h2>
    <a class="underline" href="/projects">Visa alla</a>
  </div>
  <ul class="bg-neutral-100/80 dark:bg-neutral-900/80 dark:bg-none rounded-lg px-3 pt-1 pb-1" class:list={{"stagger-animation": stagger}} style={{'--i': 1}}>
    {news.map((project, index) =>
    <li class="my-3 bg-neutral-200 dark:bg-neutral-800 p-2 rounded-lg shadow-lg dark:shadow-none" class:list={{"stagger-animation": stagger}} style={{'--i': index + 1}}>
        <CommonContentListItem tag={false} result={project} loading="lazy" />
      </li>
    )}
      <li class="flex flex-wrap justify-center my-2 text-white" class:list={{"stagger-animation": stagger}} style={{'--i': news.length + 2}}>
        <p class="text-center text-neutral-600 dark:text-neutral-300">For English speakers: Reach out to us on our <a href={discord.url} class="underline">Discord server</a></p>
        <!-- <Link href={discord.url} class="rounded-full font-semibold py-2 px-4 bg-purple-700 dark:bg-purple-800 hover:bg-purple-800 hover:dark:bg-purple-700">Gå med här</Link> -->
        <!-- <Link href="/about-us" class="rounded-full font-semibold py-2 px-4 bg-purple-700 dark:bg-purple-800 hover:bg-purple-800 hover:dark:bg-purple-700">Om oss</Link> -->
      </li>
  </ul>
</div>
